*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px;
    background: blue;
}
ul{
    display: flex;
    list-style: none;
    font-size: 2rem;

}
ul li{
    padding: 50px;
}
ul li a{
    color: white;
}
header{
    background-image: url(https://i.pinimg.com/564x/20/bc/cd/20bccd957cbaa6a5c39b3c9af26d7222.jpg);
    background-size: cover;
    background-position: center;
    /* padding: 200px; */
    height: 80vh;
    width: 100%;

}
.container{
    
    border-radius:30px;
    gap: 50px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.card{
    width: 360vh;
    background: yellowgreen;
    height: 500px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
    
}
 
 img{
    width: 100%;
    height: 40vh;
 }
 h3{
    font-size: 2rem;
    margin-left: 40px;
 }
 p{
    font-size: 2rem;
    margin-left: 40px;

 }
 iframe{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 70px;
    
 }
button{
   border-radius: 100px;
   height: 30px;
   border: 3px;
   color:black;
   padding: 20px;
}
.btn{

margin-left: 250px;
}
.btn button:hover{
    background: aqua;
}